<header>
    <div class="estilização"></div>
    <div class="menu">
        <div class="logo">
        <h1>TECNOFORCE</h1>
    </div>
    <div class="progress-bar">
        <div class="progress-bar-dot progress-bar-dot-1"></div>
        <div class="progress-bar-dot progress-bar-dot-2"></div>
        <div class="progress-bar-dot progress-bar-dot-3"></div>
        <div class="progress-bar-dot progress-bar-dot-4"></div>
        <div class="texto1">Carrinho</div>
        <div class="texto2">Endereço</div>
        <div class="texto3">Pagamento</div>
        <div class="texto4">Confirmação</div>
    </div>
    </div>
</header>