<header>
    <div class="estilização">
        <div class="redeSociais">
            <img id="estilo" src="" alt="Face">
            <img id="estilo" src="" alt="Insta">
            <img id="estilo" src="" alt="Zap">
            <img src="" alt="Gmail">
        </div>
        <div class="supt">
            <b><p>Suporte</p></b>
            <img id="telImg" src="" alt="tel">
        </div>
    </div>
    <div class="menu">
        <div class="logo">
            <img src="" alt="=">
            <div> 
                <h2>TecnoForce</h2>
                <p>A tecnologia em suas mãos</p>
            </div>
        </div>
        <div class="bar-pesquisa">
            <form action="" method="post">
                <label for="pesquisa"></label>
                <input type="text" placeholder="Encontre seu produto" name="pesquisa" id="pesquisa">
                <!-- Inserir botão futuramente -->
            </form>
        </div>
        <div class="log-cad">
            <!-- Inserir icone de usuario -->
            <div class="login">
                <a href="/login"><b><p>Entre ou <br> Crie a sua conta =></p></b></a>
            </div>
        </div>
        <div class="cart">
        <div>
            <a href="/cart"><img src="" alt="Cart"></a>
        </div>
    </div>
    </div>
    <div class="sub-menu-estilizaçao">
        <div class="submenu">
            <button id="cate"><a href="">Categorias</a></button>
            <button id="subbt"><a href="">PC Gamer</a></button>
            <button id="subbt"><a href="">Notebooks</a></button>
            <button id="subbt"><a href="">Consoles</a></button>
            <button id="subbt"><a href="">Monitores</a></button>
            <button id="subbt"><a href="">Perifericos</a></button>
    </div>
    </div>
</header>

