<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/address.css">
    <title>Endereço | TecnoForce </title>
</head>

<body>
    <header>
        <div class="estilização"></div>
        <div class="menu">
            <div class="logo">
                <h1>TECNOFORCE</h1>
            </div>
            <div class="progress-bar">

            </div>
        </div>
    </header>
    <main>
        <div class="containers">
            <div class="endereçosCadastrados">
                <div class="titulo"><h1>Endereços cadastrados:</h1></div>
                <div class="infoAddress">
                    <p>CEP:</p>
                    <p>Estado:</p>
                    <p>Cidade:</p>
                    <p>Bairro:</p>
                    <p>Logradouro:</p>
                    <p>Numero:</p>
                    <p>Complemento:</p>
                </div>
                <div class="btns">
                    <button class="btn" id="btn1">Remover</button>
                    <button class="btn" id="btn2">Atualizar</button>
                    <button class="btn" id="btn3">Selecionar</button>
                </div>
            </div>
            <div class="addAddress">
                <div id="titulo"><h1>Adicionar novo endereço:</h1></div>
                <form action="" #>
                    <div class="logNum">
                        <div class="campo1">
                        <label for="logradouro">Logradouro:</label>
                        <input type="text" name="logradouro" id="logradouro">
                    </div>
                    <div class="campo2">
                        <label for="numero">Número:</label>
                        <input type="number" name="numero" id="numero">
                    </div>
                    </div>
                    <div class="campo">
                        <label for="complemento">Complemento:</label>
                        <input type="text" name="complemento" id="complemento">
                    </div>
                    <div class="cepBairro">
                        <div class="campo1">
                        <label for="cep">CEP:</label>
                        <input type="text" name="cep" id="cep">
                    </div>
                        <div class="campo2">
                        <label for="bairro">Bairro:</label>
                        <input type="text" name="bairro" id="bairro">
                    </div>
                    </div>
                    <div class="CidEstado">
                        <div class="campo1">
                        <label for="cidade">Cidade:</label>
                        <input type="text" name="cidade" id="cidade">
                    </div>
                        <div class="campo2">
                        <label for="estado">Estado:</label>
                        <input type="text" name="estado" id="estado">
                    </div>
                    </div>
                    <div class="btnSub"><button type="submit">Adicionar endereço</button></div>
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</body>

</html>