<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <title>TecnoForce | Home</title>
</head>

<body>
    <%- include('partials/menuPrincipal') %>
        <main>
            <section class="banner-carrossel1">
                <div>
                    <h1>Banner Carrosel</h1>
                </div>
            </section>
            <section class="produtos">
                <!-- PRODUTO -->
                <div class="produtoComp">
                    
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                        <p>Descrição do produto.</p>
                        </div>
                <!-- PRODUTO -->
                    </div>
                    <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                            <p>Descrição do produto.</p>
                        </div>
                    </div>
                    <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                            <p>Descrição do produto.</p>
                        </div>
                    </div>
                    <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                            <p>Descrição do produto.</p>
                        </div>
                    </div>
                    <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                            <p>Descrição do produto.</p>
                        </div>
                    </div>
                    <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                            <p>Descrição do produto.</p>
                        </div>
                    </div>    
            </section>
            <section class="banner-carrossel1">
                <div>
                    <h1>Banner Carrosel</h1>
                </div>
            </section>
            <section class="produtos">
                <!-- PRODUTO -->
                <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                        <p>Descrição do produto.</p>
                        </div>
                <!-- PRODUTO -->
                    </div>
                    <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                            <p>Descrição do produto.</p>
                        </div>
                    </div>
                    <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                            <p>Descrição do produto.</p>
                        </div>
                    </div>
                    <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                            <p>Descrição do produto.</p>
                        </div>
                    </div>
                    <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                            <p>Descrição do produto.</p>
                        </div>
                    </div>
                    <div class="produtoComp">
                        <div class="imagem">imagem</div>
                        <div class="descrição">
                            <p>Descrição do produto.</p>
                        </div>
                    </div>    
            </section>
        </main>
        <footer>
            <div class="institucional">
                <h4 class="texto1">INSTITUCIONAL</h4>
                <div>
                    <p class="texto"><a href="">Quem somos</a></p>
                    <p class="texto"><a href="">Como comprar</a></p>
                    <p class="texto"><a href="">Segurança e privacidade</a></p>
                    <p class="texto"><a href="">Envio</a></p>
                    <p class="texto"><a href="">Pagamento</a></p>
                    <p class="texto"><a href="">Garantia</a></p>
                    <p class="texto"><a href="">Depoimentos de Clientes</a></p>
                    <p class="texto"><a href="">Noticias</a></p>
                    <p class="texto"><a href="">Troca e devoluções</a></p>
                    <p class="texto"><a href="">Retirada na loja</a></p>
                    <p class="texto"><a href="">Fale conosco</a></p>
                </div>
            </div>
            <div class="atendimento">
                <div class="icon">
                <img src="" alt="tel">
                <h4 class="texto1">ATENDIMENTO</h4>
                </div>
                <p class="texto">(11)3003-3333</p>
                <div class="texto" class="icon">
                <img src="" alt="relo">
                <h4>Horarios de Funcionamento</h4>
                </div>
                <p class="texto">Atendimento de Segunda a Sexta das <br> 08:00 as 21:00.</p>
            </div>
            <div class="pagamento">
                <h4 class="texto1">FORMA DE PAGAMENTO</h4>
                <div class="texto"><a href="">Pagamento à vista:</a></div>
                <div class="texto"><a href="">Pagamento à Prazo:</a></div>
                <div class="texto"><a href="">Boleto</a></div>
                <div class="texto"><a href="">Transferência (Santander)</a></div>
                <div class="texto"><a href="">PIX</a></div>
                <div class="texto"><a href="">Link de Pagamento</a></div>
            </div>
        </footer>
</body>

</html>