<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesse sua conta | TecnoForce</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="teste">
<header>
        <div class="logo">
        <a href="/"><h1>TECNOFORCE</h1></a>
    </div>
</header>
    <main>
        <div class="mainContainer">
            <div class="contFull">
            <div class="text1">
                <h1>Já tenho cadastro:</h1>
            </div>
                <form action="/login" method="POST">
                    <div class="logEmail">
                    <label for="user">Email ou Usuario:</label>
                    <input type="text" name="user" id="user" value="<%= locals.oldData ? oldData.user : null %>">
                    <% if (errors && errors.user && errors.user.msg) { %>
                        <div class="error-message"><%= errors.user.msg %></div>
                      <% } %>
                </div>
                    <div class="logSenha">
                    <label for="senha">Senha:</label>
                    <input type="password" name="pass" id="pass">
                    <% if (errors && errors.pass && errors.pass.msg) { %>
                        <div class="error-message"><%= errors.pass.msg %></div>
                      <% } %>
                </div>
                    
                    <div class="logCheckComp">
                        <div class="logCheck" >
                        <input type="checkbox" id="checkbox">
                        <p>Mantenha-me conectado</p>
                        </div>
                        <a href="/login/perdeuPreiboi">Esqueci minha senha</a>    
                    </div>
                    <div class="btnsub"><button type="submit">ENTRAR</button></div>
                    <div class="text2"><a href="/login/register">Ainda não tem cadastro conosco? Junte-se a nós</a></div>
                    <div class="text3"><a href="#">Suporte TecnoForce</a></div>
                </form>
                </div>
        </div>
    </main>
    <footer>
        
    </footer>
</div>
</body>
</html>