*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Produto */
.produtos{
    display: flex;
    margin-top: 2vh;
    min-height: 40vh;
    
}
.fullProduct{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-inline: 1.2vw;
    border: 1px solid #FF4D00
}
.image{
    width: 270px;
    height: 270px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
 
}
.description{
    width: 270px;
    height: 200px;
    padding-inline: 1vw;
}
.barrinha{
    height: 2px;
    width: 100px;
    background-color: #FF4D00;
}
#preco{
    font-size: x-large;
    font-weight:bolder;
    color: rgb(24, 165, 11);
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
#promoFake{
    margin-top: 1vh;
    color: #FF4D00;
}
#infoPreco{
    display: flex;
    
}
/* Produto */

main{
    margin-bottom: 3vh;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.productImage{
    width: 270px;
    height: 270px;
}
.grid-container {
    display: grid;

    grid-template-columns: repeat(4, 1fr); /* Define 6 colunas com largura igual */
    grid-gap: 2vw; /* Define o espaçamento entre as imagens */
  }
  
#btn{
    height: 6vh;
    width: 8vw;
    border-radius: 20px;
    background-color: #FF4D00;
    border-color: #FF4D00;
    font-size: large;
    font-weight: bold;

}

#btnDetails{
    font-size: larger;
}
.carousel-container {
    display: flex;
    height: 40vh;
    margin-bottom: 3vh;
  }
  
  .banner {
    flex: 0 0 100%;
    height: 100%;
  }
  
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  