*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-carrossel1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    height: 40vh;
    background-color: #D9D9D9;
    background-size: cover;
}
  
.banner-carrossel1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    height: 40vh;
    background-color: #D9D9D9;
  }
  
  .banner img{
    height: 40vh;
    width: 100vw;
  }



/* Produto */
.produtos{
    display: flex;
    margin-top: 2vh;
    min-height: 40vh;
    
}
.produtoComp{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-inline: 1.2vw;
    border: 1px solid #FF4D00
}
.imagem{
    width: 270px;
    height: 270px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
 
}
.descrição{
    width: 270px;
    height: 200px;
    padding-inline: 1vw;
}
.barrinha{
    height: 2px;
    width: 100px;
    background-color: #FF4D00;
}
#preco{
    font-size: x-large;
    font-weight:bolder;
    color: rgb(24, 165, 11);
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
#precoAumentado{
    margin-top: 1vh;
    color: #FF4D00;
}
#infoPrec{
    display: flex;
    
}
/* Produto */

main{
    margin-bottom: 3vh;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.imagemProduto{
    width: 270px;
    height: 270px;
}
.grid-container {
    display: grid;

    grid-template-columns: repeat(4, 1fr); /* Define 6 colunas com largura igual */
    grid-gap: 2vw; /* Define o espaçamento entre as imagens */
  }
  
#btn{
    height: 6vh;
    width: 8vw;
    border-radius: 20px;
    background-color: #FF4D00;
    border-color: #FF4D00;
    font-size: large;
    font-weight: bold;

}

#btnDetails{
    font-size: larger;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination a,
  .pagination span {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 4px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
  }
  
  .pagination a:hover {
    background-color: #FF4D00;
  }
  
  .page-button.active {
    background-color: #333;
    color: #fff;
    /* Adicione outros estilos de destaque desejados */
  }

  

